body {
    background-image: url("../assets/woodbg.jpg");
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Fixes the background position */
}
